* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.container{
    width: 100%;
    padding: 120px 80px;
}

.banner-topo{
    background-image: url('../img/banner-topo.jpg');
    background-size: cover;
    background-position: center;
}
.container-nome-logo{
    width: 250px;
    color:#3c184e;
    & .nome-pet-shop{
        text-align: center;
        font-size: 35px;
        margin: 0 0 5px 0;
    }
    & .nome-pet-shop img{
        width: 30px;
        margin: 0 5px 0 0;
    }
    & .slogan-pet-shop{
        font-size: 14px;
        text-align: center;
        margin: 0;
    }
}

.container-titulo-topo{
    position: relative;
    width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0 auto;
    background-color: #ffffffc4;
    box-shadow: 0 8px 32px #1f26875e;
    & .titulo-topo{
        font-size: 60px;
        color: #3c184e;
        text-align: center;
        font-weight: 800;
        margin: 0 0 40px 0;
    }
    & .link-fale-conosco{
        width: 200px;
        padding: 10px 25px;
        margin: 0 auto;
        border-radius: 10px;
        background-color: #3c184e;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
    }
    & .link-fale-conosco img{
        width:20px;
    }
    & .link-fale-conosco a{
        color: #fff;
    }
}

.servicos{
    width: 100%;
    padding: 120px 80px;
    & h3{
        font-size: 36px;
        color:  #3c184e;
        text-align: center;
        margin: 0 0 45px 0;
    }
}
.lista-servicos{
    max-width: 800px;
    margin: 0 auto 50px auto ;
    color: #5b2e71;
    & li{
        list-style: square;
        font-size: 20px;
        margin:0 0 20px 0;
    }
    & .texto-destacado{
        color: #3c184e;
        font-weight: 700;
        font-style: italic;
    }
}

.fotos-servicos{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    & .imagens-servicos{
       border-radius: 5px;
       box-shadow: 3px 6px 10px 6px #0000005c;
    }
}

.faixas{
    padding: 120px 80px;
    background-color: #3c184e;
    text-align: center;
    & p{
        max-width: 800px;
        margin: 0 auto 50px auto;
        font-size: 40px;
        color: #fff;
        text-align: center;
    }
    & span{
        font-weight: 700;
        font-style: italic ;
    }
}
.imagens-faixas a{
    text-decoration: none;
    margin: 0 20px;
    & img{
        width: 50px;
        height: 50px;
    }
}
.marcas{
    width: 100%;
    padding: 120px 80px;
    & h3{
        font-size: 36px;
        color: #3c184e;
        text-align: center;
        margin: 0 0 45px 0;
    }
}
.secao-marcas{
    max-width: 800px;
    margin: 0 auto;
    & .imagem-marca{
        height: 150px;
        width: 148px;
        margin: 20px 15px;
    }
}
.mapa{
    width: 100%;
    padding: 120px 80px;
    text-align: center;
    & h3{
        font-size: 36px;
         color:#3c184e;
         text-align: center;
         margin: 0 0 45px 0;
    }
    & p{
        font-size: 20px;
        color: #3c184e;
        text-align: center;
        margin: 0 0 45px 0;
    }
}
.rodape{
    width: 100%;
    padding: 10px 0;
    background-color: #3c184e;
    & p{
        text-align: center;
    }
    
}
.link-rodape{
    font-size: 12px;
    color: #fff;
    text-decoration: none;
} 

@media (max-width: 400px){
    .container-titulo-topo{
        width: 100%;
        & .titulo-topo{
            font-size: 20px;
        }
        & .link-fale-conosco{
            width: 100%;
            font-size: 12px ;
        }
        & .link-fale-conosco img{
            width: 10px;
        }
    }
    .container-nome-logo{
        text-align: center;
        width: 100%;
    }
    .faixas p{
        font-size: 25px ;
    }
    .imagens-faixas a img{
        width: 28px ;
        height: 28px;
        
    }
    .secao-marcas{
        max-width: 200px;
     }
}

@media (min-width: 401px) and (max-width: 900px){
    .container-titulo-topo{
        width: 100%;
        & .titulo-topo{
            font-size: 40px;
        }
    }
    .container-nome-logo{
        text-align: center;
        width: 100%;
    }
    .faixas p{
        font-size: 25px ;
    }

    .secao-marcas{
       max-width: 400px;
    }
}

